<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="expo.modules.appblocker">
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
  <application>
    <service 
        android:name=".AppBlockerService" 
        android:enabled="true" 
        android:exported="false"
        android:foregroundServiceType="dataSync" 
    />
    <receiver
        android:name=".BootReceiver"
        android:enabled="true"
        android:exported="false">
        <intent-filter>
            <action android:name="android.intent.action.BOOT_COMPLETED" />
            <action android:name="android.intent.action.QUICKBOOT_POWERON" />
        </intent-filter>
    </receiver>
    <receiver
        android:name=".AppAdminReceiver"
        android:label="Focused Admin"
        android:description="@string/admin_description"
        android:permission="android.permission.BIND_DEVICE_ADMIN"
        android:exported="true">
        <meta-data
            android:name="android.app.device_admin"
            android:resource="@xml/device_admin" />
        <intent-filter>
            <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
        </intent-filter>
    </receiver>
  </application>
</manifest>
